@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
/*Alignements*/
body, 
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: bold;
}
#left-controller > div, 
#controls, #footer
#subcontainer-right{
    display: flex;
    align-items: center;
}
p{
    margin: 0;
    cursor: pointer;
    user-select: none;
}
span{
    cursor: default;
    user-select: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #81d9a1;    
}
#container{
    background-color: #E90418;
    border-radius: 20px;
    height: 750px;
    width: 800px;
    padding-bottom: 10px;    
}
#title{
    color: #FFE4BA;
    font-size: 70px;
    font-weight: bolder;
    margin: 10px;
}
#grid{
    background-color: #FAEBD7;
    height: 550px;
    width: 550px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    cursor: crosshair;
    z-index: 1;    
}
#controls{
    height: 100px;
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
#reset-controller{
    background-color: #FFFFEA;
    color: black;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
}
#reset-controller:active{
    box-shadow: 0 0;    
    transform: translate(5px, 5px);
}
.round-controller{
    background-color: #FFFFEA;
    border-radius: 50%;
    height: 100px;
    width: 100px;       
}
.outer-sh{
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
}
.inner-sh{
    -webkit-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.71);
    -moz-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.71);
    box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.71);
}
.marker {
    background:#E90418;
    position: relative;
    height:10px;
    right:0px;
    top:45px;
    width:10px;        
}
#left-controller,
#right-controller{
    padding-bottom: 20px;
    margin-bottom: 20px;    
}
#big-size-square{
    height: 20px;
    width: 20px;
    background-color: white;
    margin-left: 40px;    
}
#small-size-square{
    height: 15px;
    width: 15px;
    background-color: white;
}
#size-controller{
    margin: 10px 10px 10px 0;
}
#black-square{
    height: 18px;
    width: 18px;
    background-color: black;    
}
#rgb-square{
    height: 20px;
    width: 20px;
    background: no-repeat url("https://github.com/Silinde87/etch-a-sketch/blob/main/images/rgb2.png?raw=true");
    background-size: 20px 20px;
    margin-left: 68px;     
}
#subcontainer-right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#color-controller{
    margin: 10px 0px 10px 10px;
}
#footer{
    margin-top: 20px;
    font-family: monospace;
    font-size: 17px;
    color: black;
    text-decoration: none;
}